@page "/server/{id:int}"
<h3>Edit Server</h3>
<br />

@if(Server is not null)
{
    <EditForm Model="Server" FormName="formServer" OnSubmit="Submit">
        <InputNumber @bind-Value="Server.Id" hidden></InputNumber>
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Name</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="Server.Name" class="form-control"></InputText>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">City</label>
            </div>
            <div class="col-6">
                <InputText @bind-Value="Server.City" class="form-control"></InputText>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label">Online</label>
            </div>
            <div class="col-6">
                <InputCheckbox @bind-Value="Server.IsOnline" class="form-check-input"></InputCheckbox>
            </div>
        </div> 
        <br />
        <button class="btn btn-primary" type="submit">Update</button>
        &nbsp;      <a href="/servers" class="btn btn-primary">Close</a>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm(FormName = "formServer")]
    private Server? Server { get; set; }

    protected override void OnParametersSet()
    {
        Server ??= ServersRepository.GetServerById(this.Id);
    }
    private void Submit()
    {
        if(Server != null)
        {
            ServersRepository.UpdateServer(Server.Id, Server);
        }
    }
}
