@page "/servers"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Servers</h3>

<br />
<br />

<CityListComponent @ref="CityListComponent" SelectedCityCallBack="HandleSelectedCity"></CityListComponent>


<br />

<SearchBarComponent @ref="SearchBarComponent" SearchServerCallback="HandleSearchServer"></SearchBarComponent>

<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent @rendermode="InteractiveServer" CityName="@selectedCity" SearchFilter="@searchFilter"></ServerListComponent>
</CascadingValue>

<p>
    <a href="/servers/add">Add Server</a>
</p>

@code {
    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private CityListComponent? CityListComponent;
    private SearchBarComponent? SearchBarComponent;

    private void HandleSelectedCity(string cityName)
    {

        selectedCity = cityName;
        this.searchFilter = string.Empty;
        SearchBarComponent?.ClearFilter();

    }
    private void HandleSearchServer(string searchFilter)
    {
        this.searchFilter = searchFilter;
        CityListComponent?.ClearSelection();
    }
}
