@page "/todolist"
@rendermode InteractiveServer

<h3>To Do</h3>
<br />

<button type="button" class="btn btn-primary" @onclick="AddTask">Add Task</button>

<br />
<br />

@if(items != null && items.Count > 0)
{
    <ul class="lits-unstyled">
        <ItemslistComponent Items="@items"></ItemslistComponent>
    </ul>
}

@code {
    private List<ToDoItem> items = ToDoItemsRepository.GetToDoItems();

    private void AddTask(MouseEventArgs args)
    {
        ToDoItemsRepository.AddToDoItem(new ToDoItem { Name = "New Task" });
        items = ToDoItemsRepository.GetToDoItems();
    }
}
