if(server != null)
{
    <p style="@($"color:{(Server.IsOnline ? "green" : "red")}")">
        @Server.Name is in @Server.City that is @(Server.IsOnline ? "online" : "offline")
        &nbsp;
    <button type="button" class="btn btn-primary" @onclick="ChangeSatus">Turn On/Off</button>
    </p>
}

@code {
    [SupplyParameterFromForm(FormName = "serverComponentForm")]
    private Server? Server { get; set; } = new Server { Name = "Server 1", City = "Toronto" };

    // private Server server = new Server { Name = "Server 1", City = "Toronto"};

    private void ChangeSatus()
    {
        if(Server != null)
        {
            this.Server.IsOnline = !Server.IsOnline;
        }
    }
}
