<h3 style="@Style; @Border">GrandChild</h3>

@code {
    [CascadingParameter(Name = "Style")]
    public string Style { get; set; }

    [CascadingParameter(Name = "Border")]
    public string Border { get; set; }
}
